<!--in cluimos la plantilla base  en  nuestro html-->
{%extends 'template/core/base.html' %}
<!-- marcamos el titullo que queremos ver en la pagina-->
{% block title%}briefcase{% endblock %}
<!--marcamos el incio del contenido-->
{% block content %}
<!--archivo estatico-->
{%load static %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="css/index.css">
<title>briefcase!</title>
</head>
<body>

<!-- navegador-->
<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark fixed-top">
<a class="navbar-brand text-white " href="file:///C:/Users/admin/Desktop/trabajos_de_python_con%20bostrap/trabajo/index.html"  >
<img src="imagenes/imagen.jpg" href="file:///C:/Users/admin/Desktop/trabajos_de_python_con%20bostrap/trabajo/index.html" width="30" height="30"   class="d-inline-block align-top text-white" alt="">
briefcase

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
    <a class="nav-link" href="#">Inicio  </a>

  <li class="nav-item">
    <a class="nav-link" href="file:///C:/Users/admin/Desktop/trabajos_de_python_con%20bostrap/trabajo/nosotros.html "target="">Nosotros</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Registro
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Inicio sesion</a>
      <a class="dropdown-item" href="#">Registrar</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="file:///C:/Users/admin/Desktop/trabajo/perfil.html#">Ver empleados</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Contacto</a>
  </li>
</ul>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>
</div>
</nav>

<!--header--->



<header id="header">
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="carousel-item active">
  <img src="imagenes/14.jpg" class="d-block w-100 " alt="...">
</div>
<div class="carousel-item">
  <img src="imagenes/11.jpg" class="d-block w-100 " alt="...">
</div>
<div class="carousel-item">
  <img src="imagenes/b3.jpg" class="d-block w-100 " alt="...">
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div>







</header>

<div class="container mt-5">
<div class="card-group">
<div class="card">
<img src="imagenes/desarrollo.jpg" class="card-img-top foto3"alt="...">
<div class="card-body">
<h5 class="card-title text-center text-success">Disfruta</h5>
<p class="card-text text-primary">Date el lujo de conocer y cumplir tus sueños, y conocer paisajes de otro mundo</p>
</div>
<div class="card-footer">
<small class="text-muted">Last updated 3 mins ago</small>
</div>
</div>
<div class="card ">
<img src="imagenes/desarrollo1.jpg" class="card-img-top foto1 " alt="...">
<div class="card-body">
<h5 class="card-title text-center text-success">SERVICIO</h5>
<p class="card-text text-primary">Nuestro servicio es considerado uno de los mas grandes y con la moyor calidad del mercado.</p>
</div>
<div class="card-footer">
<small class="text-muted">Last updated 3 mins ago</small>
</div>
</div>
<div class="card ">
<img src="imagenes/equipo_desarrollo3.png" class="card-img-top foto2" alt="...">
<div class="card-body">
<h5 class="card-title text-center text-success">Nuestros equipo de desarrollo</h5>
<p class="card-text text-primary">Cuentan con la mayor capacidad y estudio.
  ademas puedes conocer mas acerca de ellos en el menu o dale clikc en el link.</p>
<a href="file:///C:/Users/admin/Desktop/trabajo/perfil.html#" class="btn btn-outline-primary btn-lg">Info del equipo</a>
</div>

<div class="card-footer">
<small class="text-muted">Last updated 3 mins ago</small>

</div>
</div>
</div>

</div>
<div class="container">

<section class="col-md-12 row mt-2 bg-primary">
<div class="col-md-6 mt-5" >
<h4 class="text-white">ESTAMOS UBICADOS </h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.3820701710115!2d-75.59106988573419!3d6.213237428417329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4429da2c7719d3%3A0xacca0e81acb0df2!2sAcademia%20Antioque%C3%B1a%20de%20Aviaci%C3%B3n%20(AAA)!5e0!3m2!1ses-419!2sco!4v1571089862829!5m2!1ses-419!2sco" width="500" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>    </div>

  <div class="col-md-6 mt-5 " >
    <h4 class="text-center text-white "> Contactanos</h4>
    <form>

  <div class="form-group mt-5">
    <label for="exampleInputEmail1">INGRESE SU NOMBRE</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="NOMBRE">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">INGRESE SU APELLIDO</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="APELLIDO">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">INGRESE SU CORREO</label>
      <input type="email" class="form-control" id="exampleInputPassword1" placeholder="CORREO">

                            <div class="form-group col-sm-12">
                              <label for="exampleFormControlTextarea1">Mensaje:</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
        <div class="form-group col-md-4">

</div>

  <div class="form-group form-check">


  </div>
  <button type="submit" class="btn btn-secondary btn-center">Submit</button>
</form>


<!-- NOS ASEGURAMPOS QUE EL FORMULARIO SE ENVIE DE MANERA SEGURA: -->
{% csrf_token %}
<div class="form-group col-sm-6">
  <label for="exampleFormControlInput1">Correo Electronico</label>
  {{formulario.email}}
</div>
<div class="form-group col-sm-6">
  <label for="exampleFormControlInput1">Tipo de Atencion Requerida</label>
  {{formulario.tipom}}
</div>
<div class="form-group-col-sm-12">
  <label for="exampleFormControlInput1">Nombre</label>
  {{formalrio.nombre}}
</div>
<div class="form-group col-sm-12">
  <label for="exampleFormControlTextarea1">Mensaje:</label>
  {{formalrio.msj}}
</div>
{% if 'OK' in request.GET %}
<span class="col-sm-12 alert alert-success mx-2" role="alert">
  Hemo Enviado tu Mensaje!
</span>
{% else %}
<div class="from-group col-sm-12 text-right">
  <button type="submit" class="btn btn-info col-md-6">Enviar</button>
</div>
{% endif %}
</form>
</div>

</section>
{% endblock %}





